header{
   background-color:black; 
   width: 100%;
   border-bottom: 1px white solid;
   text-align: center;
   position: fixed;
   height: 70px;
   align-items: center;
   justify-content: center;
   text-align: center;
   display: flex;
   margin-top: 0;
   z-index: 1000;

}


body{
   background-image: url("/fondo.jpg");
   
   
   
}

.relleno{
   width: 100%;
   height: 4rem;

}

header img{
   width: 100px;
   height: 100px;
   margin-top: 3px
   
}


header h1{
   margin-top: 0;
   display: contents;
   color: aliceblue;
   font-weight: 200;
}

.redes{
   display: block;
   background-color: rgba(190, 187, 187, 0.733);
   width: 70%;
   margin: auto;
   justify-content: center;
   text-align: center;
   height: 200px;
   border-radius: 5px;
}


.redes h1{
   margin-top: 2rem;
   font-family: 'Noto Serif JP', serif;
   font-size: 30px;

}

.redes h5{
   font-family:'Noto Serif JP', serif; ;
   margin-top: 0%;
   font-size: 25px;
   font-weight: 400;
}



.redes a{
   margin-left: 3rem;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.ig{
   margin-top: 2rem;
   width: 50px;
   height: 50px;
   margin-bottom: 3px;
}

.fb{
   margin-top: 2rem;
   width: 110px;
   height: 60px;
}

.redes a:hover{
   opacity: 0.4;
}



.soporte{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 55px;
   max-height: 55px;
   background-color:#080808;
   border-bottom: 2px white solid;
 }
 
 .soporte h3{
   margin-top: 8px;
   color: white;
   font-weight: 100;
   font-size: 25px;
 }


 

@media (max-width:600px){

   header{
      display: flex;

   }
 
   header h1{
      font-size : 25px;
      margin-left: 5rem;
   }

   header img{
      width: 80px;
      height: 80px;
   }

   .carousel-inner{
     min-width: 100%;
   }
   
   .carousel-inner img{
      height: 300px;
      margin-top: 2rem;
   }

   .redes h1{
      font-size: 17px;
      font-weight: 800;
   }

  .redes{
   margin-top: 4rem;
   width: 90%;
   max-height: 130px;
  }

  .soporte{
   height: 45px;
   max-height: 45px;
}

.soporte h3{
   font-size: 18px;

   
}

.redes h5{
   font-family:'Noto Serif JP', serif; ;
   margin-top: 0%;
   font-size: 16px;
   font-weight: 600
}

.ig{
   margin-top: 5px;
   width: 50px;
   height: 50px;
   margin-bottom: 3px;
}

.fb{
   margin-top: 5px;
   width: 110px;
   height: 60px;
}

}
 


.carousel-inner{
   max-height: 900px;
   border-radius: 5px;
   margin: auto;
}

.carousel-inner img{
   max-height: 850px;
   border-bottom: 2px white solid;
   border-top: 2px white solid;
}

.carousel-control-prev-icon {
   display: block;
   background-color: black;
   border-radius: 10px 0 0 10px;
   padding: .5rem;
 }
 
 .carousel-control-next-icon {
   display: block;
   background-color: black;
   border-radius: 0 10px 10px 0;
   padding: .5rem;
   
 }

 @media (max-width:1366px) {
   .carousel-inner img{
      max-width: 90%;
      max-height: 600px;
      margin: auto;
      border: 1px white solid;
      margin-top: 1rem;
      border-radius: 10px;
   }
   
 }

